:root {
        --ic-brand-primary-darkened-5: #5C3613;
--ic-brand-primary-darkened-10: #573312;
--ic-brand-primary-darkened-15: #523011;
--ic-brand-primary-lightened-5: #67411F;
--ic-brand-primary-lightened-10: #6F4B2B;
--ic-brand-primary-lightened-15: #775537;
--ic-brand-button--primary-bgd-darkened-5: #0A8595;
--ic-brand-button--primary-bgd-darkened-15: #097785;
--ic-brand-button--secondary-bgd-darkened-5: #5C3613;
--ic-brand-button--secondary-bgd-darkened-15: #523011;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #097E8D;
--ic-link-color-lightened-10: #2297A5;
--ic-brand-primary: #603814;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #0a8c9c;
--ic-brand-button--primary-bgd: #0a8c9c;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #603814;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #0a8c9c;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #ffffff;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_61870000000000001/attachments/10736/virtual-academy-logo-hi.jpg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1916393912&Signature=7rC0ibdUNJldCmtq3kYCyCD3NHw%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_61870000000000001/attachments/10738/virtual-academy-logo-med.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1916394612&Signature=J7DyZ7DKDPh%2FBBVrLZqLiNbRWLo%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_61870000000000001/attachments/10738/virtual-academy-logo-med.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1916394613&Signature=2JtFsPPb464zYz37O44T02bnk14%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-color: #ffffff;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_61870000000000001/attachments/10736/virtual-academy-logo-hi.jpg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1916394613&Signature=RDZzk954STGuSMSVqFjHDK3mDN4%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-52212226d6.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #ffffff;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_61870000000000001/attachments/14695/virtual-academy-logo-Small.jpg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1918032278&Signature=jA0%2B7hFzd3O%2BDnmN5A0YQxnIHD4%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: #603814;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #000000;
--ic-brand-Login-Content-password-text-color: #0a8c9c;
--ic-brand-Login-footer-link-color: #000000;
--ic-brand-Login-footer-link-color-hover: gray;
--ic-brand-Login-instructure-logo: #ffffff;
      }